{% extends 'admin:layout/page.twig' %}

{% block body %}
    <div class="sf-heading">
        <!-- breadcrumbs -->
        <h1>
            Some title
        </h1>
        <div>
            <!-- actions -->
        </div>
    </div>
    <div class="sf-main__wrapper">
        Hello world
    </div>
{% endblock %}
