{% extends 'admin:layout/page.twig' %}

{% block title %}{{ title | trans }}{% endblock %}

{% block body %}
    <div class="sf-heading">
        {{ admin_panel_breadcrumbs(breadcrumbs) }}
        <h1>{{ title | trans }}</h1>
    </div>
    <div class="sf-main__wrapper">
        {{ dataGrid(grid, path(gridRoute), gridOptions) }}
    </div>
{% endblock %}
